<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body><p>
    <%= @sender_name %>
    <%= @receivers_name %>
    <%= @message %>
    </p>
 </body>
</html>